# binaries
###############################
*.class

# IDE
###############################
*.iws

# packages
###############################
*.jar
*.war
*.tar
*.gz
*.zip

# build
###############################
.gradle
build/**
fp-frontend/build/**

# logs
###############################
*.log

# garbage
###############################
.DS*
._*
.Trashes
Thumbs.db
