# binaries
###############################
*.class

# IDE
###############################
*.iws
*.idea

# packages
###############################
*.jar
*.war
*.tar
*.gz
*.zip

# build
###############################
.gradle
build/**
fp-frontend/build/**
!gradle/wrapper/gradle-wrapper.jar

# logs
###############################
*.log

# garbage
###############################
.DS*
._*
.Trashes
Thumbs.db
